/* Estilos para el modo claro por defecto */
body {
  font-family: 'Roboto', sans-serif; /* Aplicar la fuente Roboto */
  background-color: #ffffff; /* Color de fondo por defecto */
  color: #000000; /* Color de texto por defecto */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

h1, h2 {
  color: #333333;
}

nav button {
  margin-right: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave */
  border-radius: 4px;
}

nav button:hover {
  background-color: #0056b3;
}

.tab {
  margin-top: 20px;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave */
  border-radius: 4px;
}

button:hover {
  background-color: #218838;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.toggle-container {
  position: fixed;
  top: 20px;
  right: 20px; 
  z-index: 10; /* Asegura que el botón esté encima de otros elementos */
}

#dark-mode-toggle {
  background: none; 
  border: none;
  cursor: pointer;
  padding: 8px; 
  border-radius: 50%; /* Hacer el botón redondo */
}

#dark-mode-icon path {
  transition: fill 0.3s ease, transform 0.3s ease; /* Transición suave para el icono */
}

/* Estilos específicos para el icono de modo oscuro */
body.dark-mode #sun-path {
  fill: #f5f5f5; /* Color del sol en modo oscuro */
  display: block; /* Mostrar el sol en modo oscuro */
}

body.dark-mode #moon-path {
  display: none; /* Ocultar la luna en modo oscuro */
}

/* Estilos específicos para el icono de modo claro */
body:not(.dark-mode) #sun-path {
  display: none; /* Ocultar el sol en modo claro */
}

body:not(.dark-mode) #moon-path {
  fill: #333333; /* Color de la luna en modo claro */
  display: block; /* Mostrar la luna en modo claro */
}

/* Estilos para el modo oscuro */
body.dark-mode {
  background-color: #121212;
  color: #f5f5f5;
}

body.dark-mode h1, body.dark-mode h2 {
  color: #dddddd;
}

body.dark-mode nav button {
  background-color: #1e1e1e;
  color: #f5f5f5;
}

body.dark-mode nav button:hover {
  background-color: #333333;
}

body.dark-mode table, body.dark-mode th, body.dark-mode td {
  border: 1px solid #333333;
}

body.dark-mode th {
  background-color: #1e1e1e;
}

body.dark-mode input, body.dark-mode button {
  background-color: #333333;
  color: #f5f5f5;
}

body.dark-mode input::placeholder {
  color: #dddddd;
}

body.dark-mode button:hover {
  background-color: #444444;
}
